<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Are Sean and Kiernan Brewing by dropdownmenu</title>

    <!-- <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/material-wfont.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="shortcut icon" href="http://i.imgur.com/ItUMBRb.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="markdown.js"></script>
    <script src="underscore.min.js"></script>
    <script src="async.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://www.wikihow.com/Brew-Your-Own-Beer">We Should Brew Beer</a>
        </div>
      </div>
    </nav>
          <h1>Are Sean and Kiernan Brewing?</h1>
    <div class="col-md-4 col-lg-3">
      <h3 id="stillBrewing-status"></h3>
      <h4 id="stillBrewing-elapsed"></h4>
      <a href="http://media0.giphy.com/media/8Ry7iAVwKBQpG/giphy.gif"><img class="img-responsive" src="http://media0.giphy.com/media/8Ry7iAVwKBQpG/giphy.gif" title="source: imgur.com" /></a>
      <h2 id="stillBrewing-lead"></h2>
      <div id="mostRecentBrews"></div>
    </div>
    <div class="col-md-8 col-lg-9">
      <h3>Brewlog</h3>
      <table id="results-table" class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Date</th>
        </tr>
      </table>
    </div>
    <footer>
      <p>This project is maintained by <a href="https://github.com/dropdownmenu">dropdownmenu</a> | <a href="https://github.com/madtown">madtown</a></p>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
    <script type="text/x-template", id="row-template">
      <tr>
      <td><%= name %></td>
      <td><%= date %></td>
      </tr>
      <tr style="display: none">
      <td colspan="2"><%= html %></td>
      </tr>
    </script>
    <script type="text/javascript">
    /* global markdown, async, $, _ */
    $(function() {
      var rowTemplate = _.template($('#row-template').html());
      $.get('manifest.json', function(manifest) {
        // put a date object on each brew
        manifest.brews.forEach(function(b) {
          b.date_obj = new Date(b.date);
        });
        manifest.brews.sort(function(a, b) {
          return b.date_obj.getTime() - a.date_obj.getTime();
        });

        // determine if we are 'still brewing'
        var today = new Date();

        var stillBrewing = ((today.getTime() - manifest.brews[0].date_obj.getTime()) / (1000 * 60 * 60 * 24) < 1);
        
        var brewtimeElapsedmilli = (today.getTime() - manifest.brews[0].date_obj.getTime());
        var numdays = Math.floor(brewtimeElapsedmilli / (1000 * 60 * 60 * 24)); 
        var brewtimeElapsed = numdays + " day";
        if (numdays > 1) {
          var brewtimeElapsed = brewtimeElapsed.concat('s')
        }
        // determine time since last brew for brew counter
        
        if (stillBrewing) {
          $('#stillBrewing-status').text('Yes!');
          $('#stillBrewing-lead').text('What are we brewing?');
        } else {
          $('#stillBrewing-status').text('No...');
          $('#stillBrewing-elapsed').text("It's been " + brewtimeElapsed + " since we brewed.");
          $('#stillBrewing-lead').text('What did we brew?');
        }

        // gather the most recent batch
        var batch = [manifest.brews[0]];
        var targetDate = manifest.brews[0].date_obj;
        for (var i = 1; i < manifest.brews.length; i++) {
          if (manifest.brews[i].date_obj.getTime() < targetDate.getTime()) {
            break;
          }
          batch.push(manifest.brews[i]);
        }

        batch.forEach(function(b) {
          var newElem = $('<h3></h3>');
          newElem.text(b.name);
          $('#mostRecentBrews').append(newElem);
        });

        // get a brews recipie and renders its markdown
        function displayBrew(obj, cb) {
          $.get(manifest.base_path + obj.path, function(data) {
            obj.html = markdown.toHTML(data);
            cb(null, obj);
          }).fail(function() {
            console.error('Failed to get recipe for ' + obj.name);
            cb(null, obj);
          });
        }

        // render out the table + recipies for brews in the manifest
        async.map(manifest.brews, displayBrew, function(err, newObjs) {
          newObjs.forEach(function(o) {
            var fragment = $(rowTemplate({
              name: o.name,
              date: o.date,
              html: o.html
            }));
            fragment.first('tr').click(function() {
              console.log('you clicked me!');
              fragment.last('tr').toggle();
            });
            $('#results-table tbody').append(fragment);
          });
        });

      });
    });
    </script>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
